
2/2/2.sim/sim_1/behav/xsim/compile.bat
2/2/2.sim/sim_1/behav/xsim/compile.log
2/2/2.sim/sim_1/behav/xsim/debounce_tb.tcl
2/2/2.sim/sim_1/behav/xsim/debounce_tb_behav.wdb
2/2/2.sim/sim_1/behav/xsim/debounce_tb_vhdl.prj
2/2/2.sim/sim_1/behav/xsim/elaborate.bat
2/2/2.sim/sim_1/behav/xsim/elaborate.log
2/2/2.sim/sim_1/behav/xsim/simulate.bat
2/2/2.sim/sim_1/behav/xsim/simulate.log
2/2/2.sim/sim_1/behav/xsim/webtalk.jou
2/2/2.sim/sim_1/behav/xsim/webtalk.log
2/2/2.sim/sim_1/behav/xsim/webtalk_12120.backup.jou
2/2/2.sim/sim_1/behav/xsim/webtalk_12120.backup.log
2/2/2.sim/sim_1/behav/xsim/xelab.pb
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/Compile_Options.txt
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/obj/xsim_0.win64.obj
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/obj/xsim_1.c
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/obj/xsim_1.win64.obj
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/TempBreakPointFile.txt
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/webtalk/.xsim_webtallk.info
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/webtalk/usage_statistics_ext_xsim.wdm
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/webtalk/xsim_webtalk.tcl
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/xsim.dbg
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/xsim.mem
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/xsim.reloc
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/xsim.rlx
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/xsim.rtti
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/xsim.svtype
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/xsim.type
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/xsim.xdbg
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/xsimcrash.log
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/xsimk.exe
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/xsimkernel.log
2/2/2.sim/sim_1/behav/xsim/xsim.dir/debounce_tb_behav/xsimSettings.ini
2/2/2.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/debounce.vdb
2/2/2.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/debounce_tb.vdb
2/2/2.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
2/2/2.sim/sim_1/behav/xsim/xsim.ini
2/2/2.sim/sim_1/behav/xsim/xvhdl.log
2/2/2.sim/sim_1/behav/xsim/xvhdl.pb
